body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

/* ------------------------------ */
.text-l {
    font-size: 40px;
    font-weight: 500;
}

.text-ml {
    font-size: 30px;
    font-weight: 500;
}

.text-m {
    font-size: 25px;
    font-weight: normal;
}

.text-s {
    font-size: 16px;
    font-weight: normal;
}

.weight-bold {
    font-weight: bold;
}

.weight-medium {
    font-weight: 500;
}

.weight-normal {
    font-weight: normal;
}

.weight-thin {
    font-weight: lighter;
}

.dark {
    color: #212428;
}

.light-dark {
    color: #4A5059;
}

.light {
    color: #F2F7FF;
}

.highlight {
    color: #6283E5;
}
/* ------------------------------ */


.form-container {
    width: auto;
    text-align: center;
    margin-top: 50px;
}

.form-input {
    margin-bottom: 20px;
}

.form-error {
    color: red;
    margin-top: 10px;
}

.form-submit {
    border: none;
}

/* ------------------------------ */

.nav {
    width: auto;
    height: 70px;

    text-align: center;
    background-color: #3F4F7F;
}

.nav-items {
    padding: 20px;
}

.nav-item {
    margin-right: 30px;
    text-decoration: none;
}

.nav-info {
    float: left;
}

.nav-action {
    float: right;
}


/* ------------------------------ */


.btn {
    border: none;

    display: inline-block;
    text-align: center;
    text-decoration: none;

    padding: 15px 40px;
    line-height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    cursor: pointer;
}
.btn:hover, .btn:active {
    filter: brightness(0.8);
}
.btn:active {
    transform: scale(0.95);
}
.btn.btn-primary {
    background-color: #6283E5;
}
.btn.btn-secondary {
    background-color: #FF9544;
}
.btn.btn-danger {
    background-color: #FF4F4C;
}

.link-btn {
    border: none;
    padding: 0;

    display: inline-block;
    text-align: center;
    text-decoration: none;

    background-color: transparent;

    cursor: pointer;
}
.link-btn:hover {
    filter: brightness(1.5);
}
.link-btn.darken:hover {
    filter: brightness(0.7);
}
.link-btn:active {
    transform: scale(0.95);
}
.link-btn.btn-primary {
    color: #6283E5;
}
.link-btn.btn-secondary {
    color: #FF9544;
}
.link-btn.btn-danger {
    color: #FF4F4C;
}


/* ------------------------------ */

.empty-wardrobe-container {
    width: auto;
    text-align: center;
}

.wardrobe {
    padding: 50px;
}

.wardrobe-category {
    margin-bottom: 50px;
}

.wardrobe-category-title {
    margin-left: 10px;
}

.wardrobe-item {
    display: inline-block;
    margin: 10px;
    position: relative;
}

.wardrobe-img {
    width: 100px;
    border-radius: 5px;

    border: 4px solid rgba(0, 0, 0, 0.2);
}

.wardrobe-remove {
    position: absolute;
    top: 5px;
    right: 5px;

    display: none;

    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 6px;
    border-radius: 2px;
}
.wardrobe-item:hover > .wardrobe-remove {
    display: inline-block;
}


/* ------------------------------ */

.creator-container {
    width: auto;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    background-color: white;
}

.creator-wardrobe {
    width: 20%;
    height: 100%;

    padding: 20px;
    box-sizing: border-box;
    text-align: center;

    overflow: scroll;
}

.creator-wardrobe-title {
    margin-bottom: 10px;
}

.creator-wardrobe-category {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #F2F7FF;
    margin-bottom: -1px;
}
.creator-wardrobe-category:first-of-type {
    border-radius: 5px 5px 0 0;
}
.creator-wardrobe-category:last-of-type {
    border-radius: 0 0 5px 5px;
}

.creator-wardrobe-category-name {
    cursor: pointer;
    padding: 15px 0;
}
.creator-wardrobe-category-name:hover {
    text-decoration: underline;
}

.creator-wardrobe-category-items {
    padding: 10px 0;
    background-color: white;
}
.creator-wardrobe-category-items.hidden {
    padding: 0;
    height: 0;
    overflow: hidden;
}

.creator-outfit {
    width: 50%;
    height: 100%;

    text-align: center;
}

.creator-recommend-container {
    box-sizing: border-box;

    width: 30%;
    padding: 20px;
}

.creator-recommend {
    padding: 10px 20px 0;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #F2F7FF;
}

.creator-item {
    width: 65px;
    margin: 3px;

    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;

    cursor: pointer;
}
.creator-item:hover {
    filter: brightness(0.7);
}
.creator-item.not-in-wardrobe {
    border: 3px solid #6283E5;
}



.recommend-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.creator-outfit-name {
    flex-grow: 1;
    min-width: 50px;

    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    margin-right: 5px;
    padding: 10px;
}

.creator-submit {
    border: none;
    flex-grow: 0;
}

.category {
    width: auto;
    max-width: 100%;
    height: 75px;

    white-space: nowrap;
    overflow: scroll;
}
.category:first-child {
    margin-top: 50px;
}

/* ------------------------------ */

.outfits {
    margin: 50px;
}

.outfit {
    width: auto;
    max-width: 100%;
    margin-bottom: 20px;

    background-color: #F2F7FF;
    padding: 15px;

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.outfit-header {
    margin: 0 15px 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.outfit-item {
    width: 100px;
    margin: 10px;

    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
}
.outfit-item.not-in-wardrobe {
    border: 3px solid #6283E5;
}
