body {
    font-family: sans-serif;
    margin: 0;
}


/* ------------------------------ */


.form-container {
    width: auto;
    text-align: center;
    margin-top: 50px;
}

.form-input {
    margin-bottom: 20px;
}

.form-error {
    color: red;
    margin-top: 10px;
}

.form-submit {
    border: none;
}

/* ------------------------------ */

.nav {
    width: auto;
    height: 60px;

    text-align: center;
    background-color: darkslategray;
}

.nav-items {
    padding-top: 20px;
    padding-right: 20px;
}

.nav-item {
    margin-right: 20px;

    color: white;
    text-decoration: none;

    font-weight: bold;
    font-size: 20px;
}

.nav-link {
}
.nav-link:hover {
    color: deepskyblue;
}

.nav-info {
    float: left;
    margin-left: 20px;

    color: white;
    font-weight: normal;
}

.nav-action {
    float: right;
    color: orange;
}
.nav-action:hover {
    color: darkorange;
}


/* ------------------------------ */


.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;

    font-size: 20px;
    padding: 10px 60px;
    line-height: 40px;

    background-color: lightblue;
    border-radius: 10px;
}
.btn:hover {
    background-color: deepskyblue;
    cursor: pointer;
}
.btn:active {
    background-color: dodgerblue;
}

/* ------------------------------ */

.empty-wardrobe-container {
    width: auto;
    text-align: center;
}

.wardrobe-item {
    background-color: lightslategray;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px 20px;

    border-radius: 10px;
}

.wardrobe-img {
    width: 100px;
}

.wardrobe-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5px;
}

.wardrobe-text {
    font-size: 16px;
    color: black;
}

.wardrobe-remove {
    border: none;
    color: white;
    background-color: indianred;

    font-size: 10px;

    border-radius: 5px;
    padding: 5px 10px;
}
.wardrobe-remove:hover {
    background-color: orangered;
}
.wardrobe-remove:active {
    background-color: red;
}


/* ------------------------------ */

.creator-container {
    width: auto;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.creator-wardrobe {
    width: 20%;
    height: 100%;

    padding-top: 20px;
    box-sizing: border-box;

    background-color: lightslategray;

    overflow: scroll;
    text-align: center;
}

.creator-outfit {
    width: 50%;
    height: 100%;

    text-align: center;
}

.creator-recommend {
    box-sizing: border-box;

    width: 30%;
    height: 100%;
    background-color: lightslategray;
    padding: 0 20px;
    padding-top: 10px;
}


.creator-item {
    width: 65px;
    margin: 3px;
}

.category {
    width: auto;
    max-width: 100%;
    height: 75px;

    white-space: nowrap;
    overflow: scroll;
}
.category:first-child {
    margin-top: 50px;
}

.creator-submit {
    border: none;
    margin-bottom: 10px;
}


/* ------------------------------ */

.outfits {
    margin: 50px 50px 0;
}

.outfit {
    width: auto;
    max-width: 100%;
    margin-bottom: 20px;

    background-color: lightslategray;
    padding: 15px;

    border-radius: 10px;
}

.outfit-header {
    margin-left: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.outfit-name {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.outfit-delete {
    border: none;
    color: white;
    background-color: indianred;
    margin-right: 15px;

    font-size: 20px;

    border-radius: 10px;
    padding: 5px 10px;
}
.outfit-delete:hover {
    background-color: orangered;
}
.outfit-delete:active {
    background-color: red;
}

.outfit-item {
    width: 100px;
    margin: 15px;
}
