<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debug Similarity</title>
</head>
<body>
<img src="{{ query }}">
<div>
    {% for s_results in results %}
        <div style="display: inline-block">
            {% for r in s_results %}
                <div>Score: {{ r[1] }}</div>
                <img src="{{ r[0] }}">
            {% endfor %}
        </div>
    {% endfor %}
</div>
<div style="margin-top: 200px">
    {% for s_results in category_results %}
        <div style="display: inline-block">
        {% for category, c_results in s_results.items() %}
            <div style="font-weight: bold; font-size: 30px;">Category: {{ category }}</div>
            <div style="margin-bottom: 100px">
            {% for r in c_results %}
                <div>Score: {{ r[1] }}</div>
                <img src="{{ r[0] }}">
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>
</body>
</html>
