{% extends 'base.html' %}
{% block content %}
    <div class="nav">
        <div class="nav-items">
            {% if 'user_id' in session %}
                <a class="nav-item nav-link" href="{{ url_for('outfit_creator') }}">Outfit Creator</a>
                <a class="nav-item nav-link" href="{{ url_for('outfits') }}">Outfits</a>
                <a class="nav-item nav-link" href="{{ url_for('wardrobe') }}">Wardrobe</a>

                <span class="nav-item nav-info">{{ username|escape }}</span>
                <a class="nav-item nav-action" href="{{ url_for('logout') }}">Log Out</a>
            {% else %}
                <a class="nav-item nav-action" href="{{ url_for('login') }}">Log In</a>
                <a class="nav-item nav-action" href="{{ url_for('signup') }}">Sign Up</a>
            {% endif %}
        </div>
    </div>
    {% block page_content %}
    {% endblock %}
{% endblock %}
