{% extends 'nav_base.html' %}
{% block title %}Creator{% endblock %}
{% block page_content %}
    <div class="creator-container">
        <div class="creator-wardrobe" id="wardrobe">
            <div class="creator-wardrobe-title text-l dark">Wardrobe</div>
            <div class="creator-wardrobe-categories">
                {% for cat, items in wardrobe_by_category.items() %}
                   <div class="creator-wardrobe-category">
                       <div class="creator-wardrobe-category-name text-m highlight">{{ display_categories[loop.index0] }}</div>
                       <div class="creator-wardrobe-category-items hidden">
                           {% for item in items %}
                               <img class="creator-item" src="{{ item.get_path() }}" data-id="{{ item.id }}" data-category="{{ item.merged_category() }}">
                           {% endfor %}
                       </div>
                   </div>
               {% endfor %}
            </div>
        </div>
        <div class="creator-outfit" id="outfit">
            {% for category in categories %}
                <div class="category" data-category="{{ category }}"></div>
            {% endfor %}
        </div>
        <div class="creator-recommend-container">
            <div class="creator-recommend" id="recommend">
               <div class="recommend-header">
                   <input type="text" class="creator-outfit-name text-ml dark" id="outfit-name" placeholder="Outfit Name">
                   <button class="btn btn-primary text-m light creator-submit" id="create-button">Done</button>
               </div>
                <div class="text-s light-dark weight-medium">Recommended</div>
               {% for category in categories %}
                   <div class="category" data-category="{{ category }}"></div>
               {% endfor %}
           </div>
        </div>
    </div>

    <script src="/static/creator.js"></script>
{% endblock %}
