{% extends 'nav_base.html' %}
{% block title %}Wardrobe{% endblock %}
{% block page_content %}
    <div class="outfits">
    {% for outfit in outfits %}
        <div class="outfit" data-id="{{ outfit.id }}">
        <div class="outfit-header">
            <div class="outfit-name">{{ outfit.name|escape }}</div>
            <button class="outfit-delete">X</button>
        </div>
        {% for item in outfit.items %}
            <img class="outfit-item{% if item not in user.wardrobe_items %} not-in-wardrobe{% endif %}" src="{{ item.get_path() }}" data-id="{{ item.id }}" data-category="{{ item.merged_category() }}">
        {% endfor %}
        </div>
    {% endfor %}
    </div>

    <script src="/static/outfits.js"></script>
{% endblock %}
