{% extends 'nav_base.html' %}
{% block title %}Wardrobe{% endblock %}
{% block page_content %}
    <div class="wardrobe-items">
    {% if user_wardrobe|length == 0 %}
        <div class="empty-wardrobe-container">
            <div>Wardrobe Empty</div>
            <a class="btn" href="{{ url_for('randomize_wardrobe') }}">Randomize</a>
        </div>
    {% endif %}
    {% for item in user_wardrobe %}
        <div class="wardrobe-item" data-id="{{ item.id }}" data-category="{{ item.merged_category() }}">
            <div class="wardrobe-info">
                <span class="wardrobe-text">{{ item.id }}</span>
                <button class="wardrobe-remove">X</button>
            </div>
            <img class="wardrobe-img" src="{{ item.get_path() }}" data-id="{{ item.id }}" data-category="{{ item.merged_category() }}">
        </div>
    {% endfor %}
    </div>

    <script src="/static/wardrobe.js"></script>
{% endblock %}
